:root {
  --primary-color: #e7b2a5;
  --white: #ffffff;
  --champagne-gold: #f7e7ce;
  --white-light: #f1f1f1;
  --gray-light: hsl(0, 6%, 84%);
  --dark-100: #282727;
  --dark-200: #1a1a1a;
  --overlay-dark: rgba(44, 39, 39, 0.45);
  --pink-100: #ffebf1;
  --black-50: rgba(14, 14, 14, 0.55);
  --white-08: rgba(255, 255, 255, 0.08);
}
