:root {
  --primary-color: #E91E63;
  --color-white: #ffffff;
  --color-light: #f1f1f1;
  --color-gray-light: hsl(0, 6%, 84%);
  --overlay-dark: rgba(44, 39, 39, 0.45);
  --color-black-50: rgba(14, 14, 14, 0.55);
  --color-dark-100: #1a1a1a;
  --color-dark-200: #282727;
  --color-white-08: rgba(255, 255, 255, 0.08);
}
